body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  background-color: #eceff1;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
